---
import Section from "../layout/Section.astro";
import SectionBody from "../layout/SectionBody.astro";
import SectionHeading from "../layout/SectionHeading.astro";
---

<Section>
  <SectionHeading title="Sobre Mi" subtitle="Elección profesional" />

  <SectionBody>
    <p class="text-lg">
      ¡Hola!, mi nombre es Brandon Manuel Ventura Umaña soy un estudiante de
      Ingeniería en Sistemas y Redes Informáticas actualmente egresado,
      entusiasta por la programación, siendo esta una de las actividades que más
      disfruto actualmente, en especial con todo aquello relacionado al
      desarrollo backend, arquitecturas de software y buenas prácticas de
      programación. Me apasiona el análisis y diseño de software cuando se trata
      de crear nuevas soluciones de software. Siempre motivado por seguir
      aprendiendo de los demás y adquirir conocimientos de las últimas
      tendencias tecnológicas.
    </p>
    <p class="mt-4 text-lg">
      Mi primera experiencia laboral fué en el año 2020, 2 meses después de que
      comenzó la pandemia, fue un desafío para mí conseguir mi primer trabajo,
      pero pude lograrlo aprendiendo y poniendo en práctica mis conocimientos en
      el entorno .NET, consolidando así a lo largo de 3 años trabajando con .NET
      una sólida experiencia con la tecnología e incorporando tecnologías del
      cliente como React, Vue, Astro y Javascript Vanilla para dar vida a los
      proyectos de software; mejorando mis habilidades con el uso de patrones de
      diseño, patrones arquitectónicos y principios de seguridad que hacen del
      desarrollo un mundo asombroso de conocimiento ilimitado para mí.
    </p>
  </SectionBody>
</Section>
