---
import Section from "../layout/Section.astro";
import SectionHeading from "../layout/SectionHeading.astro";
---
<Section>
  <SectionHeading title="Sobre Mi" subtitle="Elección profesional" />

  <div>
    <p>
      Hola soy <strong>Brandon Ventura</strong>, <strong
        >Tecnico Vocacional en Desarrollo de Software</strong
      > y entusiasta del desarrollo web y el mundo de la programacion. Mi carrera
      profesional comenzo con la decision inesperada de estudiar un tecnico en desarrollo
      de software a los 15 años de edad. Mi objetivo era estudiar bachillerato general
      y continuar con ingenieria civil o licenciatura en matematicas en la universidad,
      pero no habian cupos disponibles para estudiar bachillerato general en mi instituto,
      por lo cual luego de una serie de eventos me conllevaron a optar por la opcion
      de bachillerato de la cual termine haciendome fanatico con muchos intereses
      en el area del desarrollo tecnologico actual, por lo cual ahora me encuentro
      estudiando una carrera relacionada al area <strong
        >Ingenieria en Sistemas y Redes Informaticas</strong
      >
    </p>
    <p class="mt-4">
      Tengo un gusto especial por el manejo, gestion y administración de base de
      datos, desde su analisis y diseño hasta la creación de la estructura de
      datos fisica.
    </p>
  </div>
</Section>
