---
import Section from "../layout/Section.astro";
import SectionHeading from "../layout/SectionHeading.astro";
import SectionItem from "../layout/SectionItem.astro";
---

<Section>
  <SectionHeading title="Educación" subtitle="Carrera académica" />

  <div class="">
    <SectionItem
      title="Título de Bachillerato Técnico Vocacional en Desarrollo de Software"
      entityName="INFRAVENZ"
      achievedOn={[2016, 2018]}
    >
      <Fragment slot="description">
        Logre mi titulo que me acredita como Tecnico en Desarrollo de Software,
        comprendiendo conocimientos desde desarrollo web hasta analisis, diseño
        e implementacion de sistemas y aplicaciones moviles
      </Fragment>
    </SectionItem>
  </div>
</Section>
