---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Section from "../layout/Section.astro";
import SectionHeading from "../layout/SectionHeading.astro";

const imagesData = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/logos/tech-*.{jpeg,jpg,png,gif}"
);
const images = Object.keys(imagesData).map((imagePath) => ({
  src: imagePath,
  imageImport: imagesData[imagePath],
}));
---

<Section>
  <SectionHeading
    title="Tecnologías"
    subtitle="Lenguajes, frameworks y herramientas"
  />

  <!-- TODO: Each item will have the same structure -->
  <div class="flex justify-center flex-wrap gap-4">
    {
      images.map((image) => {
        return (
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
            <Image
              src={image.imageImport()}
              alt="spotify"
              class="h-8 sm:h-10 w-auto ease-linear duration-200 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
          </div>
        );
      })
    }
  </div>
</Section>
