---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Section from "../layout/Section.astro";
import SectionHeading from "../layout/SectionHeading.astro";
import TechnologyItem from "./TechnologyItem.astro";

const imagesData = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/logos/tech-*.{jpeg,jpg,png,gif}"
);
const images = Object.keys(imagesData).map((imagePath) => {
  const imagePathParts = imagePath.split("/");
  const file = imagePathParts[imagePathParts.length - 1];
  const [fileName, extension] = file.split(".");
  return {
    fileName,
    extension,
    src: imagePath,
    imageImport: imagesData[imagePath],
  };
});

---

<Section>
  <SectionHeading
    title="Tecnologías"
    subtitle="Lenguajes, frameworks y herramientas"
  />

  <div class="flex justify-center flex-wrap gap-4">
    {
      images.map((image) => {
        return (
          <TechnologyItem image={image} />
          </div>
        );
      })
    }
  </div>
</Section>
