---
const { responsabilities, className } = Astro.props;
---

<div class="my-4">
  <h6 class="font-semibold text-sky-600">Responsabilidades del puesto:</h6>
  <ul class:list={["ml-8 list-disc", className]}>
    {responsabilities.map((responsability) => <li>{responsability}</li>)}
  </ul>
</div>
