---
import type { SectionItem } from "../../models/SectionModels";
interface Props extends SectionItem {}

const {
  className,
  title,
  entityName,
  achievedOn: [startedOn, finishedOn],
} = Astro.props;
---

<article
  class:list={[className]}
>
  <h4 class="uppercase font-semibold text-xl">
    {title}
  </h4>
  <h5 class="text-sky-600 text-base font-semibold">{entityName}</h5>
  <h6 class="text-xs mb-4 uppercase">
    De {startedOn} a {finishedOn}
  </h6>
  <p class="text-lg">
    <slot name="description" />
  </p>

  <slot />
</article>
