---
const { title, subtitle } = Astro.props;
---

<div
  class="mb-5 before:h-3 before:w-20 before:rounded-md before:mb-5 before:block before:bg-sky-600"
>
  <h2 class="text-3xl font-semibold">{title}</h2>
  <h3 class="text-base font-semibold text-gray-300 uppercase">
    {subtitle}
  </h3>
</div>
