---
const {title, subtitle} = Astro.props
---

<div class="mb-5">
  <h2 class="text-3xl font-semibold">{title}</h2>
  <h3 class="text-base font-semibold text-gray-400 uppercase">
    {subtitle}
  </h3>
</div>
