---
import PersonalInfo from "../components/personal-info/PersonalInfo.astro";
import About from "../components/personal-info/About.astro";
import WorkExperience from "../components/work-experience/WorkExperience.astro";
import Education from "../components/personal-info/Education.astro";
import Technologies from "../components/personal-info/Technologies.astro";

import BaseTemplate from "../templates/BaseTemplate.astro";
/*
  TODO:
  - Add content (collections and individuals) languages (en, es).
*/
---

<BaseTemplate pageTitle="Inicio" showBgImage>
  <PersonalInfo />
  <div class="bg-white">
    <About />
  </div>
  <div class="bg-slate-950 text-white">
    <Education />
  </div>
  <div class="bg-white">
    <WorkExperience />
  </div>
  <div class="bg-slate-950 text-white">
    <Technologies />
  </div>
</BaseTemplate>
