---
const { url, icon } = Astro.props;
---

<li>
  <a
    data-astro-prefetch="false"
    class="flex items-center justify-center size-10 text-white bg-slate-400 rounded-full transition-all duration-100 outline outline-2 outline-sky-700 hover:bg-gray-300 hover:outline-offset-2"
    href={url}
    target="_blank"><i class={icon}></i></a
  >
</li>
